:root {
  --header-bg: #262626;
  --hero-bg: #f4f4f4;

  --nunito: "Nunito";
  --noto-sans: "Noto Sans";

  --white-color: #fff;
  --black-color: #000;
  --hover-color: #e1712b;
}

/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: var(--font-family);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  color: var(--white-color);
  font-family: var(--nunito);
  font-weight: 400;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HEADER */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 30px;
  padding-left: 10px;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  width: 55px;
  height: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
  gap: 35px;
}

.header-link {
  position: relative;
  color: var(--text-color);
  transition: color 0.4s;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--hover-color);
  transition: width 0.3s, left 0.3s;
}

.header-link:hover {
  color: var(--hover-color);
}

.header-link:hover::after {
  width: 100%;
  left: 0;
}

/* HERO */

.hero {
  background-image: url(./img/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  background: rgba(24, 24, 27, 0.7);
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--noto-sans);
}

.hero-title {
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 20px;
}

/* INTRO */

.intro {
  padding-top: 40px;
  padding-bottom: 110px;
  background-color: var(--hero-bg);
  color: var(--black-color);
  font-family: var(--noto-sans);
  font-weight: 500;
  text-align: center;
}

.intro-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.intro-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.intro-card {
  background-color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  width: 800px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.intro-card:hover{
  transform: scale(1.05);
}

.icard-image {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.icard-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
}

.icard-subtitle {
  margin-bottom: 20px;
  color: #155dfc;
}

/* FOOTER */

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
