:root {
  --header-bg: #262626;
  --hero-bg: #f4f4f4;
  --blue-color: #155dfc;
  --input-color: #f5f5f5;
  --input-tcolor: #242424;
  --bluew-color: #5b5fc7;

  --nunito: "Nunito";
  --noto-sans: "Noto Sans";

  --white-color: #fff;
  --black-color: #000;
  --hover-color: #e1712b;
}

/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: var(--font-family);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  color: var(--white-color);
  font-family: var(--nunito);
  font-weight: 400;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HEADER */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 30px;
  padding-left: 10px;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  width: 55px;
  height: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
  gap: 35px;
}

.header-link {
  position: relative;
  color: var(--text-color);
  transition: color 0.4s;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--hover-color);
  transition: width 0.3s, left 0.3s;
}

.header-link:hover {
  color: var(--hover-color);
}

.header-link:hover::after {
  width: 100%;
  left: 0;
}

/* HERO */

.hero {
  background-image: url(./img/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  background: rgba(24, 24, 27, 0.7);
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--noto-sans);
}

.hero-title {
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 20px;
}

/* INTRO */

.intro {
  padding-top: 40px;
  padding-bottom: 110px;
  background-color: var(--hero-bg);
  color: var(--black-color);
  font-family: var(--noto-sans);
  font-weight: 500;
  text-align: center;
}

.intro-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.intro-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.intro-card {
  background-color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  width: 800px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.intro-card:hover {
  transform: scale(1.05);
}

.icard-image {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.icard-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
}

.icard-subtitle {
  margin-bottom: 20px;
  color: var(--blue-color);
}

/* FOOTER */

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

/* DESTINATION */

.destination {
  padding-top: 35px;
  padding-bottom: 95px;
  text-align: center;
  color: var(--black-color);
  background-color: var(--hero-bg);
}

.destination-title {
  font-size: 45px;
  font-family: var(--noto-sans);
  font-weight: 600;
  margin-bottom: 35px;
}

.destination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.ditem {
  width: 500px;
  height: 400px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 7px;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition-property: transform box-shadow;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.ditem:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ditem-image {
  width: 450px;
  border-radius: 7px;
}

.ditem-title {
  color: var(--blue-color);
  font-size: 25px;
}

/* CONTACTS */

.contacts {
  padding-top: 35px;
  padding-bottom: 65px;
  color: var(--black-color);
  background-color: var(--hero-bg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.contacts-title {
  font-family: var(--noto-sans);
  font-size: 35px;
  font-weight: 600;
}

.contacts-form {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 350px;
  background-color: var(--white-color);
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contacts-input {
  max-width: 190px;
  background-color: var(--input-color);
  color: var(--input-tcolor);
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}

.contacts-input:focus {
  border-bottom: 2px solid var(--bluew-color);
  border-radius: 4px 4px 2px 2px;
}

.contacts-input:hover {
  outline: 1px solid lightgrey;
}

#contacts-textarea {
  background-color: var(--input-color);
  color: var(--input-tcolor);
  padding: 0.15rem 0.5rem;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
  min-height: 100px;
  min-width: 50px;
}

#contacts-textarea:focus {
  border-bottom: 2px solid var(--bluew-color);
  border-radius: 4px 4px 2px 2px;
}

#contacts-textarea:hover {
  outline: 1px solid lightgrey;
}

.contacts-button {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.contacts-button:hover {
  background-position: right top;
}

.contacts-button:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .contacts-button {
    transition: linear;
  }
}

.modal {
  display: none;
  transition: display 0.5s cubic-bezier(.17,.67,.83,.67);
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 40px 45px;
  border-radius: 20px;
  text-align: center;
  width: 420px;
  max-width: 90%;
  box-shadow: 0 12px 35px rgba(0,0,0,0.25);
  font-size: 18px;    
}

.modal-content h2{
  margin-bottom: 15px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
